<div class="card-wp">
  <div class="card wf">
    <div class="card-flex">
      <div class="con">
        <img src="{{imglink}}" alt="univ" />
      </div>
      <div class="right">
        <div class="card-text">
          <h3 style="color: var(--font-blue)">{{Name}}</h3>
          <p class="col-info">{{info}}</p>
          <div class="contact">
            <p>
              <span class="fwb" style="color: var(--font-blue)"
                ><i class="fa fa-location" aria-hidden="true"></i
                >Address: </span
              >{{Address}}
            </p>
            <p>
              <span class="fwb" style="color: var(--font-blue)"
                ><i class="fa fa-link" aria-hidden="true"></i>Website: </span
              ><a href="{{Website}}">{{Website}}</a>
            </p>
            <p>
              <span class="fwb" style="color: var(--font-blue)"
                ><i class="fa fa-envelope" aria-hidden="true"></i>Email: </span
              >{{Email}}
            </p>
          </div>
          <div class="detail">
            <p>
              <span class="fwb" style="color: var(--font-blue)"
                ><i class="fa fa-globe-americas" aria-hidden="true"></i
                >Country:</span
              >
              {{Country}}
            </p>
            <p>
              <span class="fwb" style="color: var(--font-blue)"
                ><i class="fa fa-coins" aria-hidden="true"></i>Expense:</span
              >
              {{Expense}}
            </p>
            <p>
              <span class="fwb" style="color: red"
                ><i class="fas fa-calendar" aria-hidden="true"></i
                >Deadline:</span
              >{{Deadline}}
            </p>
          </div>
        </div>
        <a href="{{Website}}"><div class="btn det-btn">Details</div></a>
      </div>
    </div>
  </div>
</div>
